/* search box */
.input-group > input {
  background-color: #090960;
  border-color: #090960;
}
/* Search box on focus */
.input-group > input {
  background-color: #262677;
  border-color: #090960;
}

.btn {
  background-color: #15158d;
  border-color: #0b0baa;
  color: white;
}

.btn:hover {
  color: rgb(26, 131, 216);
}

/* input place holder color */
.input-group > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.input-group > input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.input-group > input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
